<main>
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex resultado justify-content-center align-items-center">
                <form method="post" action="/user/guardar" style="display:grid">
                    <h2>Registro de usuario:</h2>
                    <input name="firstname" id="firstname" placeholder="Nombre">
                    <input name="lastname" id="lastname" placeholder="Apellido">
                    <input name="phone" id="phone" placeholder="Teléfono">
                    <input name="email" id="email" placeholder="Email">
                    <input name="city" id="city" placeholder="Ciudad">
                    <input type="password" name="password" id="password" placeholder="Password">
                    <input type="password" name="passwordrepeat" id="passwordrepeat" placeholder="Repita password">
                    <input name="employeenumber" id="employeenumber" placeholder="Número de empleado">
                    <input type="submit" class="btn btn-warning" value="Guardar">
                </form>
            </div>
</main>