<main>
  <div class="container">
    <div class="row">
      <div class="col-12 d-flex resultado justify-content-center align-items-center">
        <h3>Su registro se ha realizado con éxito</h3>
        <div class="row">
          <div class="col-12 d-flex resultado justify-content-center align-items-center">
            <a href="/">
              <h4>Login</h4>
            </a>
          </div>
        </div>
      </div>
    </div>
</main>