 <main>
    <div class="container">
      <div class="row">
        <div class="col-12 d-flex resultado justify-content-center align-items-center">
          <form method="post" action="/user/login" style="display:grid">
            <h2>Inciar sesión:</h2>
            <input name="firstname" id="firstname" placeholder="Nombre">
            <input name="email" id="email" placeholder="Email">
            <input name="password" id="password" placeholder="Password">   
            <input type="submit" class="btn btn-warning" value="Guardar">
            <a href="/user/login">
                <h4>nuevo registro</h4>
              </a>         
          </form>
        </div>
        <div class="col-12">
          {{#if mensaje}}
            <div class="alert alert-success" role="alert">
              {{mensaje}}
            </div>
          {{/if}}
        </div>
    </div>
  </main>